


<div class="container__menu-bar">

  <ul>

    <li><a href="https://linkedin.com/in/felipe-aguiar-exe">Movies</a></li>
    <li><span>•</span></li>
    <li><a href="https://github.com/felipeAguiarCode">TV</a></li>
    <li><span>•</span></li>
    <li><a href="https://www.youtube.com/channel/UCCcDZkI7AITYFCgDEFV9OoQ">Music</a></li>
    <li><span>•</span></li>
    <li><a href="https://www.youtube.com/channel/UCCcDZkI7AITYFCgDEFV9OoQ">Games</a></li>
    <li><span>•</span></li>
    <li><a href="https://www.youtube.com/channel/UCCcDZkI7AITYFCgDEFV9OoQ">Books</a></li>
    <li><span>•</span></li>
    <li><a href="https://www.youtube.com/channel/UCCcDZkI7AITYFCgDEFV9OoQ">Channels</a></li>
  </ul>

</div>
